.login {
    font-family: Assistant;
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    line-height: 2.5;
  }
  .sign-up {
      margin-right: 64px;
    font-family: Assistant;
    font-size: 2.4rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    text-decoration: none;
  }
  .main-container {
    background-image: url('/images/Background.png');
      text-align: center;
      font-family: Assistant;
      color: #fff;
      line-height: normal;
      width: 1920px;
  }
  h1 {
    margin:0;
    font-size: 6.4rem;
    font-weight: bold;
    letter-spacing: 0.856rem;
    padding-top:100px
  }
  .first_p {
      width: 426px;
      margin:17px auto 91px auto;
      font-size: 2rem;
  }
  input {
      width: 426px;
      height: 60px;
      opacity: 0.9;
      border-radius: 12px;
      background-color: #fff;
    }
    .input_email {
        margin:0 auto 51px auto;
        font-size:25px;
        text-align: center;
        font-family: Assistant;
        letter-spacing: 1px;
    }
    .input_password {
      margin:0 auto 64px auto;
      font-size:25px;
      text-align: center;
    }
      input::placeholder{
          font-size: 2rem;
          line-height: 1;
          color: #9094ab;
          padding-left: 16px;
      }
   .label_password {
    font-size: 1.6rem;
    font-weight: 600;
   }
  .label_email {
      font-size: 1.6rem;
      font-weight: 600;
  }
  button {
      width: 426px;
      height: 60px;
      font-size: 2.6rem;
      font-weight: bold;
      border-radius: 12px;
      color: #fff;
      background-color: #ff9f00;
      border:none
  }
  .second_p {
      margin: 8px auto 0 auto;
      padding-bottom:100px;
      font-size: 1.6rem;
      color: #fff;
    }    
  p a {
      font-weight: 600;
      color: #ff9f00;
      text-decoration: underline;
  }
  .errors{
    font-size: 35px;
    color:white;
  }
